
.header {
  background-color: rgb(49, 44, 44);
  color: #fff;
  padding-left: 75px;
  height: 100px;
  display: flex;
  align-items: center;
}

.header h1 {
  font-weight: 700;
  text-shadow: 10px 10px 10px black;
}

.menu-bar {
  background-color: gray;
  height: 70px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
}

.menu-bar button {
  color: black;
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
}

.menu-bar a {
  cursor: pointer;
  color: white;
  font-size: 15pt;
}

.home-image img {
  height: 100vh; 
}

.intro-paragraph{
  background-color: rgb(217, 218, 218);
  padding: 70px;
  font-size: 24pt;
}

.footer {
  background-color: black;
  color: white;
}

.works {
  background-color: black;
  height: 100vh;
  color: white;
  padding: 50px;
  font-size: 15pt;
}

.composer-name {
  background-color: white;
  height: 70px;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.composer-name h3 {
  font-size: 25pt;
  font-weight: bold;
}

.bio {
  background-color: rgb(192, 190, 190);
  height: 95%; 
  padding: 20px;
  font-size: 15pt;
}



.composer-image img{
  height: 100%;
}

.reflection-header{
  background-color: black;
  color: white;
  height: 100px;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.reflection-list{
  padding-left: 50px;
  padding-top: 20px;
  font-size: 15pt;
}